body,
html {
  font-family: 'Titillium Web', sans-serif;
}

.bg-fade-in {
  background-color: black;
  height: 100vh;
}

.hero {
  /* background-image: url(img/rocket2.jpg); */
  background-image: url('img/rocket2.jpg');
  height: 100vh;
  background-size: 170%;
  background-position: 15% 55%;
  background-repeat: no-repeat;
  position: relative;
}

.covid {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fade-in {
  animation: fadeIn ease 9s;
  -webkit-animation: fadeIn ease 9s;
  -moz-animation: fadeIn ease 9s;
  -o-animation: fadeIn ease 9s;
  -ms-animation: fadeIn ease 9s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* If the screen size is 576px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 576px) {
  .header-display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

/* If the screen size is 575px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 575px) {
  .header-display-4 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.5;
  }
}

.menu-card {
  border: 1px solid #7474bf;
  box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.2);
  /* box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.4); */
  border-radius: 8px;
  min-height: 10rem;
  display: flex;
  align-items: center;
}

.menu-paragraph{
  line-height:1.2rem;
}

/* .slogan {
  height: 85vh;
  vertical-align: text-bottom;
} */

.menu-item {
  display: flex;
  height: 100px;
  width: 100px;
  background-color: pink;
  align-items: center;
  justify-content: center;
}

/* img {
  max-width: 50%;
  height: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.newnav {
  width: 100vw;
  height: 15%;
}

.block {
  height: 1rem;
}

.pack {
  background-image: url('img/pack.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  /* min-height:20rem; */
  /* border-left: 1px ridge #454545; */
}

.retail-square {
  background-image: url('img/retail-square.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  /* min-height:20rem; */
  /* border-left: 1px ridge #454545; */
}

/* .pack-img{
min-height:100%;
} */

.img-hack {
  height: 12rem;
}

.architect {
  background-image: url('img/architect.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border-right: 1px ridge #454545; */
}

.gradient1 {
  background: #7474bf; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #348ac7,
    #7474bf
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #348ac7,
    #7474bf
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient2 {
  background: #7474bf; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #7474bf,
    #348ac7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #7474bf,
    #348ac7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.whitespace {
  margin: 0 3rem;
}

i {
  background: -moz-linear-gradient(top, #fc6767 0%, #ec008c 100%);
  background: -webkit-linear-gradient(top, #fc6767 0%, #ec008c 100%);
  background: linear-gradient(to bottom, #fc6767 0%, #ec008c 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.to {
  background-image: url('img/riverside.jpg');
  background-position: center 15%;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner1 {
  min-height: 25rem;
}

.btn-gradient {
  background: linear-gradient(to right, #7474bf, #348ac7);
}

ul {
  list-style: none;
}

.contact-form {
  /* background: linear-gradient(to right, #fc6767, #ec008c); */
  /* background-image: url('img/plane-sky.jpg');
  background-size: cover;
  background-position: center top;
  opacity: 0.5; */
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
  border-radius: 15px;
  z-index:2000;
}

.contact-form-modal {
  /* background: linear-gradient(to right, #fc6767, #ec008c); */
  /* background-image: url('img/plane-sky.jpg');
  background-size: cover;
  background-position: center top;
  opacity: 0.5; */
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
  border-radius: 15px;
  border: 2px solid white;
}

.footer {
  background-image: url('img/plane-sky.jpg');
  background-size: cover;
  background-position: 50% 35%;
  background-repeat: no-repeat;
  /* opacity: 0.8; */
  height: 30rem;
  margin-top: -7rem;
}

/* z-index only works on items that have a 'position' property ie. position: absolute */

.bg-pattern {
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url('/img/email-pattern.png');
}

/* .comp-L {
  background-image: url('img/photo-comp-redo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  height: 30rem;
} */

.photo-comp-L img {
  width: 80%;
  height: auto;
}

@media only screen and (max-width: 575px) {
  .photo-comp-L img {
    width: 95%;
    height: auto;
  }
}

/* .photo-comp-R {
  align-items: center;
  display: flex;
} */

.wavy-card{
  border-radius:10px; 
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.25); 
  width: 80%; 
}

.wavy-card-text{
  padding:3rem;
}

@media only screen and (max-width: 575px) {

  .wavy-card{
    width: 95%;
  }

  .wavy-card-text{
    padding:0.5rem;
  }
}

.comp-photo-1 {
  position: absolute;
  top: 0rem;
  left: 2rem;
  max-width: 60%;
  max-height: 60%;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  outline: 2px ridge #7474bf;
}

.comp-photo-2 {
  position: absolute;
  top: 7rem;
  right: 2rem;
  max-width: 50%;
  max-height: 70%;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  outline: 2px ridge #ec008c;
}

.comp-photo-3 {
  position: absolute;
  top: 12rem;
  left: 5rem;
  max-width: 50%;
  max-height: 60%;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  outline: 2px ridge #7474bf;
}

.value-prop {
  font-weight: 400;
  font-size: 1.5rem;
  color: black;
  height: 25rem;
  width: 20rem;

  /* background-image: linear-gradient(
      to right,
      rgba(116, 116, 191, 0.8),
      rgba(23, 75, 112, 0.8)
    ),
    url(/img/to-skyline.jpg);

  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat; */
  /* box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.2); */
  text-shadow: none;

  border: 1px solid #7474bf;
  /* box-shadow: -1px 3px 20px 0 rgba(0, 0, 0, 0.2); */
  box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.2);
}

.count {
  font-weight: 700;
  font-size: 5rem;
  color: #fff;
  text-shadow: 0rem 0rem 0.5rem rgba(64, 64, 64, 0.9);
  /* text-shadow: 0rem 0.1rem 0.4rem rgba(236, 0, 140, 0.9); */
}

.value-prop-span {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  color: white;
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.white-text {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
}

.btn-cta {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-bright {
  background-color: #fa7d09 !important;
  border: 2px solid white;
}

.marker {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}

.whitebanner {
  background-color: white;
  height: 3rem;
}

.price-card li {
  /* background-color: rgba(255, 255, 255, 0); */
  background-color: transparent;
  outline: none;
  border-radius: 0;
}

.pricing-card {
  /*   border-radius:10px; */
  border: 2px solid #7474bf;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

.pricing-card-header1 {
  background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
  background: linear-gradient(to right, #fc6767, #ec008c);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: 100%;
  width: 100%;
}

.pricing-card-header2 {
  background: -webkit-linear-gradient(to right, #348ac7, #7474bf);
  background: linear-gradient(to right, #348ac7, #7474bf);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: 100%;
  width: 100%;
}

.underline {
  border-bottom: 5px #ff9f4e dashed;
}

.svg1 {
  background-image: url('img/svg/video_call.svg');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 10rem;
  background-position: center bottom;
}

.svg2 {
  background-image: url('img/svg/designer__isometric.svg');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 10rem;
  background-position: center bottom;
}

.svg3 {
  background-image: url('img/svg/online_presentation.svg');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 10rem;
  background-position: center bottom;
}

.svg4 {
  background-image: url('img/svg/start_up.svg');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 10rem;
  background-position: center bottom;
}

.svg5 {
  background-image: url('img/svg/finance_analysis_.svg');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 10rem;
  background-position: center bottom;
}

ion-icon {
  font-size: 88px;
  color: #7474bf;
  --ionicon-stroke-width: 16px;
}

.accent {
  display: inline-block;
  position: relative;
  text-align: center;
}

.accent:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 5px solid #ec008c;
}


.modal-content-custom {
  position: relative;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;

  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
  border-radius: 15px;
  z-index: 1;
  width: 350px;
}
